<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
    
     <title><%= title %></title>

  </head>
  <body style="word-wrap: break-word; -webkit-nbsp-mode: space; line-break: after-white-space;" class="">

    <%- include('partials/nav') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <% if(user) { %>
        <div class="profileInfo">
            <img src="<%= user.picture %>"/>
            <p class="firstname">
                First Name: <%= results.firstname %>
            </p>
            <p class="lastname">
                Last Name: <%= results.lastname %>
            </p>
        </div>
    <% } %>
  </body>
</html>